@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
    margin: 0 0 0 0;
    font-family: 'Ubuntu', sans-serif;
    
}
  
* {
    box-sizing: border-box;
    font-size: 1rem;
    animation: fade-in 1s;
    font-family: 'Ubuntu', sans-serif;
}

#icon:hover {
    background:  #24B67E;;
    color: white;
    
    
}

#icon > i {
    font-size: x-large;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.calendar {
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    min-height: 243px;
    text-align: center;
    
}

.boutRow{
    align-items: center;
    justify-content: space-around;
}

#icon {
    color: black;
    padding: 1rem;
    border: 3px solid #24B67E;
    border-radius: 50%;
}

.aboutImg {
    border: 2px solid white;
    border-radius: 5px;
    width: 100%;
}

#aboutMe-Img {
    border: 2px solid #24B67E;
    border-radius: 10px;
}

.fade-in {
    opacity: 0;
    transition: opacity 350ms ease-in;

}
.fade-in.appear {
    opacity: 1;
}

.contrib-footer {
    font-size: 1px;
    padding: 0 10px 12px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    height: 26px;
    display: none;
}

.contrib-legend {
    text-align: right;
    padding: 0 14px 10px 0;
    display: inline-block;
    float: right;
}

#item {
    font-size: 25px;
    color: white;
    border-bottom: 2px solid transparent; /* <- here */
    transition: border-bottom 1s;
    text-decoration: none;
    cursor: pointer;
}

#item:hover {
    border-bottom: 2px solid white;
}

.toTopBtn{
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #24B67E;
    border: 3px solid #24B67E;
    border-radius: 50%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: white;
    padding: 0;
    margin: 0;
}

.toTopBtn:hover {
    background: #24B67E;
    color: white;
    border: 3px solid white;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F5F5F5 ;
    height: 100%;
    width: 100vw;
    padding: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.aboutCont {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    width: 60vw;
    height: fit-content;
    background: white;
    margin: auto;
    box-shadow: -4px 4px #ECEBEB;
}

.green{
    font-size: 25px;
    border-bottom: 2px solid transparent; /* <- here */
    transition: border-bottom 1s;
    text-decoration: none;
    color: #24B67E;
    cursor: pointer;
}

.green:hover {
    border-bottom: 2px solid #24B67E;
}

.header-logo {
    color: white;
    cursor: pointer;
}

.navToggle > span {
    color: white;
}

.home-bg {  
    top: 0;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
}

.img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.nav-item > a {
    font-size: 25px;
    cursor: pointer;
}

.navbar {
    background-color: transparent;
    color: white;
    position: fixed;
    top: 0;
    overflow: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  
}

.navbar-nav {
    align-items: center;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nameContainer > h1 {
    font-size: 70px;
}

.animateTe{
    font-family: 'Source Code Pro', 'Ubuntu';
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid 3px #24B67E;
    animation: animated-text 3s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
}

.animateTex{
    font-family: 'Source Code Pro', 'Ubuntu';
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid 3px #24B67E;
    animation: animated-text 3s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
}

.animateT {
    font-family: 'Source Code Pro', 'Ubuntu';
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid 3px #24B67E;
    animation: animated-text 3s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
}

.aboutTitle > h2 {
    border-bottom: 3px solid #24B67E;
    border-width: 50%;
    width: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 5px;
}

.aboutTitle {
    padding: 1rem;
    padding-top: 0;
}

.stor {
    padding: 1rem;
}

.card-body * {
    transition: .3s all;
    width: fit-content;
    border: none
  }

.projCont{
    height: 100%;
    width: 100vw;
    background: #F5F5F5;
    padding: 1rem;
}

.projTitle > h1 {
    width: fit-content;
    border-bottom: 3px solid #24B67E;
    margin: auto;
    padding: 5px;
}

#sub {
    color: #24B67E;
}

#project > img{
    height: 25vh;
    
    object-fit: cover;
  }

#projCard {
    box-shadow: 0px 3px #ECEBEB;
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    font-family: 'Ubuntu';
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #24B67E;
  }
  .ribbon span {
    font-family: 'Ubuntu';
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #24B67E;
    box-shadow: 0 3px 5px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Ubuntu';
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }

  .ribbon-top-right {
    top: -10px;
    right: -10px;
    z-index: 999;
  }
  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }

.ribbon span:hover {
    background-color: white;
    color:  #24B67E;
}

@keyframes animated-text{ 
    from{width: 0;}
}

@keyframes animated-cursor{
    from{border-right-color: #24B67E;}
    to{border-right-color: transparent;}
  }

@media screen and (max-width :1050px) and (max-height: 1400px) {
    .aboutCont {
        width: 90vw;
    }
}
  
@media screen and (orientation: landscape) and (max-height: 450px) {
    #item {
        font-size: 20px;
    }
    .green{
        font-size: 20px;
    }

    .header-logo {
        font-size: 25px;
    }

    .nav-item > a {
        font-size: 20px;
    }

    .aboutTitle > h2 {
        padding: 1rem;
    }

    .nameContainer > h1 {
        font-size: 50px;
    }
    .cal {
        margin-top: 1rem;
        width: auto;
    }

    #project > img{
        height: 90vh;
        object-fit: cover;
      }
}

@media screen and (max-width: 450px) {
    #project > img{
        height: 35vh;
        
        object-fit: cover;
      }
    .nav-item > a {
        font-size: 20px;
    }
    .nameContainer > h1 {
        font-size: 50px;
    }

    .cal {
        margin-top: 1rem;
        width: auto;
        max-width: auto;
        overflow: hidden;
    }

    .calendar {
        overflow: hidden;
    }

    #icon {
        padding: 0.5rem;
    }

    .aboutCont {
        padding: 5px;
        width: 90vw;
    }
}


@media screen and (max-height: 400px) and (min-width: 800px) {
    .aboutCont {
        width: 90vw;
    }

}
@media screen and (min-width: 1000px) {
    #project > img{
        height: 35vh;
      }
}

